--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn
python-multipart
sentence-transformers
ultralytics
rank_bm25     
pillow
langchain_classic
langchain_core
opencv-python-headless
langchain
langchain_groq
langchain_community
langchain-experimental
langchain-core
langchain-openai
langchain-chroma
langchain-huggingface
chromadb
pypdf
streamlit
python-dotenv